PORT=8000
DBDSN=postgres://kairos:kairos@localhost:5432/kairos?sslmode=disable
CONSUMER_CONFIG_PATH=consumer.yaml
API_LOG_FILE=logs/api.log
CONSUMER_LOG_FILE=logs/consumer.log

DB_MAX_CONNS=10
DB_MIN_CONNS=0
DB_MAX_CONN_LIFETIME=1h
DB_MAX_CONN_IDLE_TIME=30m
DB_HEALTH_CHECK_PERIOD=1m

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PROTOCOL=2

POSTGRES_USER=kairos
POSTGRES_PASSWORD=kairos
POSTGRES_DB=kairos
WORKER_CONFIG_PATH=worker.yaml
WORKER_LOG_FILE=logs/worker.log
